uvicorn==0.35.0
numpy==2.3.1
torch==2.7.1
transformers=4.53.0
sentence-transformers==4.1.0
fastapi==0.115.14
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pypdf==5.6.1
PyPDF2==3.0.1
requests==2.32.4
urllib3==2.5.0
langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.66
langchain-groq==0.3.4
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8
langsmith==0.4.4
scikit-learn==1.7.0
tqdm==4.67.1
